html {
	box-sizing: border-box;
}

body {
	font-family: nunito;
	overflow-x: hidden;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper:before, .wrapper:after,
.row:before, .row:after {
	display: table;
	content: "";
}

.wrapper:after, .row:after {
	clear: both;
}

[class*='col-'] {
	float: left;
	width: 100%;
}

@media screen and (min-width: 320px){
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}
@media screen and (min-width: 640px){
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}
@media screen and (min-width: 960px){
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
}

.bg-header {
	margin: 0;
}

.bg-menu {
	margin: 0;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul li {
	float: right;
}

nav ul li.logo {
	float: left;
	font-size: 1.7em;
	margin-top: -9px;
}

nav ul li.icon {
	display: none;
	margin-top: -5px;
	font-size: 1.5em;
}

nav ul li a {
	padding: 2rem 1.5rem;
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-size: .9em;
	font-weight: bold;
}

nav ul li a:hover {
	color: #F7D137;
	transition: .7s;
}

@media screen and (max-width: 900px){
	ul.menu li:not(:first-child){
		display: none;
	}
	ul.menu li.icon {
		display: inline-block;
	}
}

.banner {
	height: 750px;
	background-image: url(../image/banner/img.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.bg-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 90px;
	left: 0;
}


video {
	min-height: 750px;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;	
}

@media screen and (max-width: 900px){
	video {
		display: none;
	}
}

.text-banner {
	position: absolute;
	top: 90px;
	min-height: 855px;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	color: #fff;
	padding: 0 1rem;
}

.text-banner h1 {
	padding-top: 5%;
	font-size: 3em;
}

.text-banner p {
	font-size: 1em;
	padding-top: .7rem;
}

.bg-input {
	border-radius: 8px;
	background-color: #fff;
	width: 60%;
	margin: 7% auto;
	min-height: 120px;
}


.input {
	text-align: center;
	margin: 2rem .7rem;
}

.input input, select {
	width: 100%;
	padding: 1rem;
	border: none;
	border-bottom: 1px solid #F7D137;
	color: #333;
	outline: none;
}

.btn-search {
	padding: 1rem;
	width: 100%;
	background-color: #F7D137;
	border: 1px solid #F7D137;
	color: #fff;
	cursor: pointer;
	transition: .7s;
}

.btn-search:hover {
	background-color: #fff;
	color: #F7D137;
}

.bg-explore {
	width: 50%;
	margin: auto;
}

.explore {
	margin: .5rem;
	padding: 2rem 1rem;
	background-color: rgba(255,255,255,0.2);
	border: 2px solid rgba(255,255,255,0.1);
	cursor: pointer;
	transition: .7s;
}

.explore i {
	font-size: 1.9em;
}

.explore p {
	font-size: .8em;
	padding-top: .4rem;
}

.explore:hover {
	background-color: #F7D137;
	border: 2px solid #F7D137;
}

@media screen and (max-width: 720px){
	.bg-input {
		width: 100%;
		height: 250px;
	}
	.bg-explore {
		width: 100%;
	}
	.banner {
		min-height: 900px;
	}
}

.bg-categories {
	margin-top: 5%;
}

.wrap-center {
	width: 80%;
	margin: auto;
}

.judul {
	text-align: center;
}

.sub {
	color: #F7D137;
	font-size: 1em;
}

.judul h1 {
	color: #333;
	font-size: 1.6em;
	padding: 6rem .7rem;
	margin-bottom: 3rem;
}

.categories {
	margin: .9rem;
	position: relative;	
}

.categories img {
	width: 100%;
}

.text {
	margin: 0;
	position: absolute;
	top: 0%;
	left: 1%;
	width: 99%;
	height: 99%;
	padding: 1rem;
	text-align: center;
	color: #8FF3D2;
	cursor: pointer;
	transition: .7s;
}

.text i {
	font-size: 3em;
	padding-top: 35%;
}

.text-categories {
	margin-top: 10%;
}

.text-categories h1 {
	font-size: 1.2em;
	letter-spacing: 1.5px;
}

.text-categories p {
	font-size: .8em;
	padding-top: .6rem;
}

.btn-categories {
	padding: .6rem 2rem;
	background-color: #8FF3D2;
	border: 1px solid #8FF3D2;
	color: #fff;
	margin-top: 1rem;
	cursor: pointer;
	transition: .7s;
	outline: none;
	opacity: 0;
}

.btn-categories:hover {
	background-color: #fff;
	color: #8FF3D2;
	padding: .6rem 4rem;
}

.text:hover .btn-categories {
	opacity: 3;
}

.text:hover {
	background-color: rgb(0, 0, 0, 0.3);
}

.btn-see {
	padding: 1rem;
	background-color: transparent;
	border: 2px solid #F7D137;
	color: #F7D137;
	margin: 2rem 0;
	cursor: pointer;
	transition: .7s;
}

.btn-see:hover {	
	background-color: #F7D137;
	color: #fff;
	padding: 1rem 2.5rem;
}

.bg-popular {
	background-image: url(../image/gallery/fourth-section-bg.png);
	margin-top: 6%;
	background-color: #fafafa;
	padding: 5% 0;
}

.popular {
	margin: .9rem;
	border: 1px solid #f2f2f2;
	background-color: #fff;
}

.popular img {
	width: 100%;
}
.text-popular {
	padding: 1rem .7rem;
}
.text-popular h2 {
	color: #333;
}

.sub-popular {
	padding-right: .6rem;
	font-size: .8em;
	color: #666;
}
.rating {
	padding-top: 1.7rem;
	padding-bottom: .9rem;
	font-size: .8rem;
	color: #666;
	line-height: 1.7;
}

.popular hr {
	border: none;
	border-bottom: 1px solid #ececec;
}

p.visit {
	padding-top: 1.2rem;
	font-size: .8em;
	color: #666;
}

.btn-detail {
	float: right;
	padding: .5rem 1rem;
	margin-top: -9px;
	width: 110px;
	background-color: transparent;
	border: 1px solid #F7D137;
	color: #F7D137;
	border-radius: 5px;
	cursor: pointer;
	transition: .7s;
}

.btn-detail:hover {
	background-color: #F7D137;
	color: #fff;
}

.rate {
	background-color: #F7D137;
	color: #fff;
	padding: .2rem .7rem;
}

.bg-gallery {
	margin-top: 7%;
	padding-bottom: 7%;
}

.gallery {
	margin: 1rem;
	position: relative;
}

.gallery img {
	width: 100%;
}

.bg-text-gallery {
	background-color: #F7D137;
	width: 100%;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: .7s;
	overflow: hidden;
}

.gallery:hover .bg-text-gallery {
	height: 100%;
}

.text-gallery {
	text-align: center;
	color: #fff;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image {
	display: block;
	width: 100%;
	height: auto;
}
.bg-subs{
	background-image: url(../image/bg.jpg);
	min-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.about{
	margin: auto;
	padding-top: 12%;
	padding-right: 2rem;
	color: #fff;
	width: 90%;
}
.about p i{
	font-size: 2.5em;
	padding-right: 1rem;
}
.about p{
	font-style: italic;
	line-height: 2;
}
.subs{
	background-color: #fff;
	padding: 4% 0;
	margin-top: 11%
}
.input-subs{
	text-align: center;
	padding: 0 1rem;
}
.input-subs input{
	text-align: center;
	padding: .7rem;
	font-size: 1rem;
	width: 70%;
	border: none;
	border-bottom: 1px solid #ececec;
	outline: none;
	color: #666;
}
.btn-subs{
	margin-top: 1rem;
	padding: .9rem;
	text-transform: uppercase;
	background-color: #F7D137;
	border: 1px solid #F7D137;
	color: #fff;
	cursor: pointer;
	font-size: .7em;
}
.bg-content{
	background-image: url(../image/gallery/jj.png);
	margin-top: 7%;
	padding: 5% 0;
}
.Contact{
	padding: .9rem 1.5rem;
	text-align: center;
}
.Contact input{
	width: 100%;
	padding: 1rem;
}
.contact input, textarea{
	width: 100%;
	padding: 1rem;
	border: 1px solid #ececec;
	border-radius: 5px;
	font-family: nunito;
	outline: none;
}
.btn-send{
	padding: 1rem;
	background-color:#F7D137;
	border: 1px solid #F7D137;
	color: #fff;
	width: 100%;
	cursor: pointer;
}
.bg-footer{
	margin-top: 12%;
	background-color: #333;
}
.footer{
	text-align: center;
	color: #fff;
	padding: 5% 0;
}
.footer p{
	line-height: 2;
}